/******************************************************************************
TABLE OF CONTENTS

AUTHOR            - Richard Myatt
DATE              - 27 September 2017

NOTES:
Rules followed by SWITCH shourl be commented out or deleted in the final design
for any site.


GENERAL STYLING                - html elements and shared styles
INFO ICON AND PANEL            - styling for info icon and panel
FOOTER                         - styling for footer


COLOUR PALETTE

white                 - background for header, article and footer
silver                - body background appears as borders
rgb(230, 230, 230)    - background for info panel
rgb(100, 100, 100)    - advisory text at base of info panel 

############ To be deleted ############
red                   - header border to aid design - delete or modify as necessary
blue                  - article border to aid design - delete or modify as necessary
green                 - section border to aid design - delete or modify as necessary
rgb(230, 230, 230, 1) - article background - delete or modify as necessary

Note: https://autoprefixer.github.io was used to add the prefixed additions in
      the code below.
******************************************************************************/



/******************************************************************************
  General styling begins
******************************************************************************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: silver;
}

header {
  width: 90vw;
  margin: 0 auto;
  background-color: white; /* SWITCH */
  text-align: center;
  font-size: 1.5vw;
  height: 150px;
  padding: 20px 0;
  border: 4px solid red; /* SWITCH */
}

article {
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
  border: 4px solid blue; /* SWITCH */
}

hr {
  width: 85vw;
}

section {
  margin: 2%;
  /*height: 300px; /* switch */
  /*border: 4px solid green; /* SWITCH */
}

footer {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  background-color: white; /* SWITCH */
  height: 150px;
  border: 4px solid yellow; /* SWITCH */
}
/* General styling ends */


/******************************************************************************
 Info icon and panel begins
******************************************************************************/
/* This class is provided by googles material-icons */
p .material-icons {
  font-size: 50px;
}

section.info-icon-and-panel {
  text-align: right;
	/*padding-top: 30px;
  padding-right: 30px;*/
}

#information-panel-text {
  display: none;
	overflow: hidden;
  padding: 20px;
  text-align: justify;
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.advisory-text {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}
/* Info icon and panel ends */


/******************************************************************************
 Footer begins
******************************************************************************/
.footnote {
  position: absolute;
  right: 5vw;
  bottom: 0px;
  font-size: 0.8em;
}

.divider {
  position: absolute;
  top: 0;
  left: 2.5vw;
}
/* Footer ends */
