/* Author: Richard Myatt
   Date: 17 October 2017
*/

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 95%;
    border-width: 3px;
}

#middle {
  min-height: 100vh;
}
